{
	"overrides": [
		{
			"files": "**/*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "**/*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.mdx", "*.md"],
			"options": {
				"printWidth": 80
			}
		},
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"printWidth": 80,
				"parser": "jsonc",
				"tabWidth": 2
			}
		}
	],
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-svelte",
		"prettier-plugin-organize-attributes",
		"prettier-plugin-organize-imports",
		"prettier-plugin-packagejson",
		"prettier-plugin-sort-json",
		"prettier-plugin-tailwindcss"
	],
	"printWidth": 80,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
